#AboutWindow {
    position: relative;
    top: -1350px;

    margin-left: 150px;
    width: 500px;
    height: 1200px;
    color: white;
    border-style: double;
    border-color: yellow;
    background-color: darkslateblue;
    display: none;
    z-index: 2;
}


#aboutSubmitButton {
    height: 34px;
    width: 89px;
    margin-left: 200px;
    margin-top: 20px;
}

#UpfrontImage {
    background-size: 500px;
    width: 500px;
    height: 500px;
    border: 2px solid;
    color: black;
    background-image: url("./images/roboticrover1.jpg");
}

.yellow {
    color: yellow;
}
