#AboutWindow {
    position: relative;
    top: -1350px;

    margin-left: 100px;
    width: 550px;
    height: 700px;
    border-style: double;
    border-color: yellow;
    color: yellow;
    background-color: darkslateblue;
    display: none;
    z-index: 2;
}

#aboutSubmitButton {
    height: 34px;
    width: 89px;
    margin-left: 200px;
    margin-top: 20px;
}

#UpfrontImage {
    display: block;
    margin-right: 10px;
    height: 120px;
    width: 120px;
    background-size: 115px 115px;
    background-image: url("./images/UpfrontView.png");
}
