.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  margin: auto;
  width: 700px;
  border-style: hidden;
  padding: 0px;
}

.text-center {
  text-align: center;
}

#statusBar {
  position: fixed;
  border-style: double;
  border-width: 2px;
  border-color: black;
  width: 697px;
  color: red;
  top: 60px
}


#submitButton {
  margin-top: 50px;
  width: 75px;
  height: 35px;
  margin-left: 120px ;
}

#myCanvas {
  z-index: 1;
}

#username {
  margin-top: 50px;
}

#password {
  margin-top: 50px;
}

#usernameLabel {

  color: yellow;
  margin: 8px;
}

#passwordLabel {
  color: yellow;
  margin: 8px;
}

.redBold {
  color: red;
  font-weight: bold;
}

.normal {
  color: black;
  font-weight: normal;
}




