.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  margin: auto;
  width: 700px;
  border-style: hidden;
  padding: 0px;
}

.text-center {
  text-align: center;
}

#menu {
  float: left;
  width: 100px;
  height: 50px;
  background: url("./images/menu.png");
}

#loginButton {
  float: left;
  width: 100px;
  height: 50px;
  margin-left: 5px ;
}

#logoutButton {
  float: left;
  width: 100px;
  height: 50px;
  margin-left: 5px ;
}

#settingButton {
  float: left;
  width: 100px;
  height: 50px;
  margin-left: 5px ;
}

#calibrationButton {
  float: left;
  width: 100px;
  height: 50px;
  margin-left: 5px ;
}

#aboutButton {
  float: left;
  width: 100px;
  height: 50px;
  margin-left: 5px ;
}

#startButton {
  float: right;
  width: 100px;
  height: 50px;
  margin-left: 5px ;
}


#submitButton {
  margin-top: 50px;
  width: 75px;
  height: 35px;
  margin-left: 120px ;
}

#myCanvas {
  z-index: 1;
}

#username {
  margin-top: 50px;
}

#password {
  margin-top: 50px;
}

#usernameLabel {

  color: yellow;
  margin: 8px;
}

#passwordLabel {
  color: yellow;
  margin: 8px;
}




