ul {
    list-style-type: none;
}

.enabled {
    color: black;
}

.disabled {
    color: lightslategray;
}

#menuArea {
    position: relative;
    top: 5px;
    margin: auto;
    border-style: double;
    border-width: 2px;
    border-color: black;
    width: 150px;
}