#Rover {
    position: relative;
    width: 25px;
    height: 35px;
    background-color: gray;
    font-size: 14px;
    color: aqua;
    padding-top: 16px;
    border-style: double;
    border-color: yellow;
    border-radius: 5px;
}